@page
@model Employee_Payee_Tax_Core_Web_App.Pages.Companies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Company List</h1>

<p>
    <a class="btn btn-outline-secondary" asp-page="Create">+Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Website)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Company) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                <a class="btn btn-outline-secondary"  asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-outline-secondary" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-outline-secondary" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
